@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
	font-family: "CircularStdBook";
	src: url("./assets/fonts/CircularStdBook.woff") format("woff");
	font-style: normal;
	font-weight: normal;
}

@font-face {
	font-family: "CircularStdBlack";
	src: url("./assets/fonts/CircularStdBlack.woff") format("woff");
	font-style: normal;
	font-weight: 900;
}

@font-face {
	font-family: "CircularStdBold";
	src: url("./assets/fonts/CircularStdBold.woff") format("woff");
	font-style: normal;
	font-weight: 700;
}

@font-face {
	font-family: "CircularStdMedium";
	src: url("./assets/fonts/CircularStdMedium.woff") format("woff");
	font-style: normal;
	font-weight: 500;
}

body {
	font-family: "CircularStdBlack";
	font-family: "CircularStdMedium";
	font-family: "CircularStdBold";
	font-family: "CircularStdBook";
}

::-webkit-scrollbar {
	width: 5.5px;
}

::-webkit-scrollbar-track {
	background-color: #777;
	border-radius: 20px;
}

::-webkit-scrollbar-thumb {
	background-color: #65D36E;
	cursor: pointer;
	border-radius: 20px;
}

::-webkit-scrollbar-thumb:hover {
	background-color: #17df28;
}

.bg-login {
	background-image: linear-gradient(180.00deg, #3333a3 5.086%,rgb(18, 18, 18) 33.397%);
}

.singlePage-music{
	background-image: linear-gradient(180.00deg, #DDF628 5.086%,rgb(18, 18, 18) 33.397%);
	background-position-y: 80px;
}

.active {
	opacity: 1;
}

.bg-item{
	background-color: rgba(255, 255, 255, 10%);
}

.music-list-card-item{
	background-color: rgba(255, 255, 255, 4%);
}

.PlayerRSWP{
	background-color: #181818 !important;
}

._ControlsButtonsRSWP, ._VolumeInlineRSWP, .rswp_progress, .rswp_duration, .ButtonRSWP {
	color: #fff !important;
}

._ActionsRSWP > div > div > button{
	color: #fff !important;
}

.volume__thumb{
	background-color: #fff !important;
}

.slider__thumb{
	background-color: #fff !important;
}

.slider__track{
	background-color: rgb(102, 102, 102) !important;
}

